<style>
/* force scrollbar */
html { overflow-y: scroll; }
    
/* To overwrite page's padding, to get bigger images */
/* article {padding:2%;} */

</style>

<div id='masonry' class="grid">
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
{% for image in site.static_files %}
  {% if image.path contains include.gallery_path %}
    {% unless image.path contains '.md' %}
        <!--<a href="{{ image.path | relative_url }}">-->
			<img src="{{ image.path | relative_url }}" alt="" class="grid-item" style="padding: 0;"/>
		<!--</a>-->
    {% endunless %}  
  {% endif %}
{% endfor %}
</div> 

<script src="{{ "/js/vendor/imagesloaded.pkgd.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/js/vendor/masonry.pkgd.min.js" | relative_url }}" type="text/javascript"></script>
<script type="text/javascript">
var $grid = $('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: 80
});
// change size of item by toggling gigante class
$grid.on( 'click', '.grid-item', function() {
  $(this).toggleClass('gigante');
  // trigger layout after item size changes
  $grid.masonry('layout');
});
</script>