---
layout: default
bodyclass: full-height
---

<div class="container full-container full">
    <div class="row full">
          {% for post in site.posts %}
              {% if forloop.index == 1 %}
              {% assign author = site.data.authors[post.author_slug] %}
              <div class="col-sm-12 hero" style="background-image: url({{ site.baseurl }}/img/{{post.feature_image}});">
                  <div class="overlay">
                      <div class="post-preview__info animated fadeInUp delay-3">
                          <div class="inner">
							  {% if post.has_period %}
							  <p class="post-period-text" style="margin-bottom: 0; font-size: 22px">Episode {{post.episode_id}}, Du {{post.begin_date}} au {{post.end_date}}</span>
							  {% endif %}
							  <h1 style="font-size: 42px">{{post.title}}</h1>
                          </div>
                      </div>
					  <a class="post-link" href="{{post.url | prepend: site.baseurl}}"></a>
					  <div class="post-preview__meta">
						{% for category in post.categories %}
							<div class="tag">
								<a href="{{site.baseurl}}{{ category | prepend: "/category/"}}">{{ category | capitalize }}</a> 
							</div>
						{% endfor %}
					  </div>
                  </div>
              </div>
              {% else %}
              <div class="col-sm-6 col-md-4 col-lg-4 post-preview {% if post.is_featured %} post--featured {% endif %}" style="background-image: url({{ site.baseurl }}/img/{{post.feature_image}});">
                  {% if post.is_featured %}
                  <span class="post-featured-text">featured</span>
                  {% endif %}
                  <div class="overlay">
                      <div class="post-preview__info animated fadeInUp delay-3">
                          <div class="inner">
							  {% if post.has_period %}
							  <p class="post-period-text" style="margin-bottom: 0; font-size: 14px">Ep. {{post.episode_id}}, Du {{post.begin_date}} au {{post.end_date}}</span>
							  {% endif %}
							  <h2>{{post.title}}</h2>
                          </div>
                      </div>
					  <a class="post-link" href="{{post.url | prepend: site.baseurl}}"></a>
					  <div class="post-preview__meta">
						{% for category in post.categories %}
							<div class="tag">
								<a href="{{site.baseurl}}{{ category | prepend: "/category/"}}">{{ category | capitalize }}</a> 
							</div>
						{% endfor %}
					  </div>
                  </div>
              </div>
              {% endif %}
          {% endfor %}
    </div> <!--/row -->
</div>
